USE [Teretana]
GO
ALTER TABLE [dbo].[StavkaRacuna] DROP CONSTRAINT [FK_StavkaRacuna_Racun]
GO
ALTER TABLE [dbo].[StavkaRacuna] DROP CONSTRAINT [FK_StavkaRacuna_Proizvod]
GO
ALTER TABLE [dbo].[StavkaPorudzbenice] DROP CONSTRAINT [FK_StavkaPorudzbenice_Proizvod]
GO
ALTER TABLE [dbo].[StavkaPorudzbenice] DROP CONSTRAINT [FK_StavkaPorudzbenice_Porudzbenica]
GO
ALTER TABLE [dbo].[Racun] DROP CONSTRAINT [FK_Racun_Klijent]
GO
ALTER TABLE [dbo].[Porudzbenica] DROP CONSTRAINT [FK_Porudzbenica_Radnik]
GO
ALTER TABLE [dbo].[Porudzbenica] DROP CONSTRAINT [FK_Porudzbenica_Dobavljac]
GO
ALTER TABLE [dbo].[Klijent] DROP CONSTRAINT [FK_Klijent_Clanarina]
GO
/****** Object:  Table [dbo].[StavkaRacuna]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StavkaRacuna]') AND type in (N'U'))
DROP TABLE [dbo].[StavkaRacuna]
GO
/****** Object:  Table [dbo].[StavkaPorudzbenice]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StavkaPorudzbenice]') AND type in (N'U'))
DROP TABLE [dbo].[StavkaPorudzbenice]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Radnik]') AND type in (N'U'))
DROP TABLE [dbo].[Radnik]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Racun]') AND type in (N'U'))
DROP TABLE [dbo].[Racun]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proizvod]') AND type in (N'U'))
DROP TABLE [dbo].[Proizvod]
GO
/****** Object:  Table [dbo].[Porudzbenica]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Porudzbenica]') AND type in (N'U'))
DROP TABLE [dbo].[Porudzbenica]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Klijent]') AND type in (N'U'))
DROP TABLE [dbo].[Klijent]
GO
/****** Object:  Table [dbo].[Dobavljac]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Dobavljac]') AND type in (N'U'))
DROP TABLE [dbo].[Dobavljac]
GO
/****** Object:  Table [dbo].[Clanarina]    Script Date: 01-Feb-23 03:29:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clanarina]') AND type in (N'U'))
DROP TABLE [dbo].[Clanarina]
GO
USE [master]
GO
/****** Object:  Database [Teretana]    Script Date: 01-Feb-23 03:29:45 PM ******/
DROP DATABASE [Teretana]
GO
/****** Object:  Database [Teretana]    Script Date: 01-Feb-23 03:29:45 PM ******/
CREATE DATABASE [Teretana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Teretana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Teretana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Teretana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Teretana_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teretana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teretana]
GO
/****** Object:  Table [dbo].[Clanarina]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanarina](
	[ClanarinaID] [nvarchar](50) NOT NULL,
	[NazivClanarine] [nvarchar](50) NOT NULL,
	[CenaClanarine] [float] NOT NULL,
	[BrojTermina] [int] NOT NULL,
 CONSTRAINT [PK_Clanarina] PRIMARY KEY CLUSTERED 
(
	[ClanarinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dobavljac]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dobavljac](
	[DobavljacID] [nvarchar](50) NOT NULL,
	[NazivDobavljaca] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dobavljac] PRIMARY KEY CLUSTERED 
(
	[DobavljacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[KlijentID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifra] [nvarchar](50) NOT NULL,
	[DatumRodjenja] [date] NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NOT NULL,
	[ClanarinaID] [nvarchar](50) NOT NULL,
	[DatumPocetkaClanarine] [date] NOT NULL,
	[DatumIstekaClanarine] [date] NOT NULL,
	[BrojTermina] [int] NOT NULL,
 CONSTRAINT [PK_Klijent] PRIMARY KEY CLUSTERED 
(
	[KlijentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Porudzbenica]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Porudzbenica](
	[PorudzbenicaID] [int] IDENTITY(1,1) NOT NULL,
	[DatumKreiranja] [date] NOT NULL,
	[CenaPorudzbenice] [float] NOT NULL,
	[RadnikID] [nvarchar](50) NOT NULL,
	[DobavljacID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Porudzbenica] PRIMARY KEY CLUSTERED 
(
	[PorudzbenicaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[ProizvodID] [nvarchar](50) NOT NULL,
	[NazivProizvoda] [nvarchar](50) NOT NULL,
	[Kolicina] [int] NOT NULL,
	[NabavnaCena] [float] NOT NULL,
	[ProdajnaCena] [float] NOT NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[ProizvodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racun](
	[RacunID] [int] IDENTITY(1,1) NOT NULL,
	[DatumKreiranja] [date] NOT NULL,
	[CenaRacuna] [float] NOT NULL,
	[KlijentID] [int] NOT NULL,
	[Uknjizen] [bit] NOT NULL,
 CONSTRAINT [PK_Racun] PRIMARY KEY CLUSTERED 
(
	[RacunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[RadnikID] [nvarchar](50) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifra] [nvarchar](50) NOT NULL,
	[DatumRodjenja] [date] NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Radnik] PRIMARY KEY CLUSTERED 
(
	[RadnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaPorudzbenice]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaPorudzbenice](
	[PorudzbenicaID] [int] NOT NULL,
	[StavkaID] [int] IDENTITY(1,1) NOT NULL,
	[ProizvodID] [nvarchar](50) NOT NULL,
	[NazivStavke] [nvarchar](50) NOT NULL,
	[CenaStavke] [float] NOT NULL,
	[Kolicina] [int] NOT NULL,
 CONSTRAINT [PK_StavkaPorudzbenice] PRIMARY KEY CLUSTERED 
(
	[PorudzbenicaID] ASC,
	[StavkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaRacuna]    Script Date: 01-Feb-23 03:29:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaRacuna](
	[RacunID] [int] NOT NULL,
	[StavkaID] [int] IDENTITY(1,1) NOT NULL,
	[ProizvodID] [nvarchar](50) NOT NULL,
	[NazivStavke] [nvarchar](50) NOT NULL,
	[CenaStavke] [float] NOT NULL,
	[Kolicina] [int] NOT NULL,
 CONSTRAINT [PK_StavkaRacuna] PRIMARY KEY CLUSTERED 
(
	[RacunID] ASC,
	[StavkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clanarina] ([ClanarinaID], [NazivClanarine], [CenaClanarine], [BrojTermina]) VALUES (N'B12', N'Basic', 2500, 12)
INSERT [dbo].[Clanarina] ([ClanarinaID], [NazivClanarine], [CenaClanarine], [BrojTermina]) VALUES (N'C16', N'Classic', 3000, 16)
INSERT [dbo].[Clanarina] ([ClanarinaID], [NazivClanarine], [CenaClanarine], [BrojTermina]) VALUES (N'E31', N'Elite', 3500, 31)
GO
INSERT [dbo].[Dobavljac] ([DobavljacID], [NazivDobavljaca], [Email], [BrojTelefona], [Adresa]) VALUES (N'Dob1', N'Hammer Strength', N'HammerS@gmail.com', N'0619876543', N'Arsenija Carnojevica 67')
INSERT [dbo].[Dobavljac] ([DobavljacID], [NazivDobavljaca], [Email], [BrojTelefona], [Adresa]) VALUES (N'Dob2', N'TechnoGym', N'technogym@yahoo.com', N'0634567891', N'Dzona Kenedija 156')
INSERT [dbo].[Dobavljac] ([DobavljacID], [NazivDobavljaca], [Email], [BrojTelefona], [Adresa]) VALUES (N'Dob3', N'Cybex International', N'cybex@outlook.com', N'0691234567', N'Kralja Milana 35')
GO
SET IDENTITY_INSERT [dbo].[Klijent] ON 

INSERT [dbo].[Klijent] ([KlijentID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona], [ClanarinaID], [DatumPocetkaClanarine], [DatumIstekaClanarine], [BrojTermina]) VALUES (1, N'Obrisan', N'Nalog', N'/', N'/', CAST(N'2001-01-01' AS Date), N'/', N'/', N'N0', CAST(N'2001-01-01' AS Date), CAST(N'2001-01-01' AS Date), 0)
INSERT [dbo].[Klijent] ([KlijentID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona], [ClanarinaID], [DatumPocetkaClanarine], [DatumIstekaClanarine], [BrojTermina]) VALUES (2, N'Stefan', N'Stefanovic', N'stefan@yahoo.com', N'stefkeS', CAST(N'2001-05-07' AS Date), N'Dzona Kenedija 13', N'0631245678', N'E31', CAST(N'2023-01-09' AS Date), CAST(N'2023-02-09' AS Date), 31)
INSERT [dbo].[Klijent] ([KlijentID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona], [ClanarinaID], [DatumPocetkaClanarine], [DatumIstekaClanarine], [BrojTermina]) VALUES (3, N'Jana', N'Brankovic', N'jana@gmail.com', N'janaB', CAST(N'1997-11-25' AS Date), N'Jurija Gagarina 88', N'0691234567', N'C16', CAST(N'2023-01-04' AS Date), CAST(N'2023-02-04' AS Date), 16)
SET IDENTITY_INSERT [dbo].[Klijent] OFF
GO
SET IDENTITY_INSERT [dbo].[Porudzbenica] ON 

INSERT [dbo].[Porudzbenica] ([PorudzbenicaID], [DatumKreiranja], [CenaPorudzbenice], [RadnikID], [DobavljacID]) VALUES (2, CAST(N'2023-01-13' AS Date), 14500, N'VT9820', N'Dob1')
INSERT [dbo].[Porudzbenica] ([PorudzbenicaID], [DatumKreiranja], [CenaPorudzbenice], [RadnikID], [DobavljacID]) VALUES (3, CAST(N'2023-01-13' AS Date), 14700, N'VT9820', N'Dob2')
INSERT [dbo].[Porudzbenica] ([PorudzbenicaID], [DatumKreiranja], [CenaPorudzbenice], [RadnikID], [DobavljacID]) VALUES (4, CAST(N'2023-01-14' AS Date), 15900, N'UG8920', N'Dob3')
SET IDENTITY_INSERT [dbo].[Porudzbenica] OFF
GO
INSERT [dbo].[Proizvod] ([ProizvodID], [NazivProizvoda], [Kolicina], [NabavnaCena], [ProdajnaCena]) VALUES (N'BltCrni', N'Crni pojas za trening', 15, 700, 2200)
INSERT [dbo].[Proizvod] ([ProizvodID], [NazivProizvoda], [Kolicina], [NabavnaCena], [ProdajnaCena]) VALUES (N'Kre180t', N'Kreatin - 180 tableta', 20, 1500, 3000)
INSERT [dbo].[Proizvod] ([ProizvodID], [NazivProizvoda], [Kolicina], [NabavnaCena], [ProdajnaCena]) VALUES (N'Kre250', N'Kreatin - 250g', 50, 1100, 2600)
GO
SET IDENTITY_INSERT [dbo].[Racun] ON 

INSERT [dbo].[Racun] ([RacunID], [DatumKreiranja], [CenaRacuna], [KlijentID], [Uknjizen]) VALUES (1, CAST(N'2023-01-09' AS Date), 5500, 17, 0)
INSERT [dbo].[Racun] ([RacunID], [DatumKreiranja], [CenaRacuna], [KlijentID], [Uknjizen]) VALUES (2, CAST(N'2023-01-10' AS Date), 2900, 2, 0)
INSERT [dbo].[Racun] ([RacunID], [DatumKreiranja], [CenaRacuna], [KlijentID], [Uknjizen]) VALUES (3, CAST(N'2023-01-05' AS Date), 6200, 3, 0)
SET IDENTITY_INSERT [dbo].[Racun] OFF
GO
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona]) VALUES (N'MG13120', N'Marko', N'Gojak', N'marko13120@its.edu.rs', N'sifra132', CAST(N'1995-08-16' AS Date), N'Bl. Zorana Djindjica 113', N'0641367045')
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona]) VALUES (N'UG8920', N'Uros', N'Gojak', N'uros8920@its.edu.rs', N'sifra321', CAST(N'2001-06-02' AS Date), N'Bl. Mihajla Pupina 93', N'0621628619')
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [Email], [Sifra], [DatumRodjenja], [Adresa], [BrojTelefona]) VALUES (N'VT9820', N'Vladan', N'Tesic', N'vladan9820@its.edu.rs', N'sifra123', CAST(N'2001-02-09' AS Date), N'Spanskih boraca 34', N'0694202344')
GO
SET IDENTITY_INSERT [dbo].[StavkaPorudzbenice] ON 

INSERT [dbo].[StavkaPorudzbenice] ([PorudzbenicaID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (2, 1, N'Kre180t', N'Kreatin - 180 tableta', 1500, 5)
INSERT [dbo].[StavkaPorudzbenice] ([PorudzbenicaID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (2, 2, N'BltCrni', N'Crni pojas za trening', 700, 10)
INSERT [dbo].[StavkaPorudzbenice] ([PorudzbenicaID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (3, 3, N'Kre180t', N'Kreatin - 180 tableta', 1500, 2)
SET IDENTITY_INSERT [dbo].[StavkaPorudzbenice] OFF
GO
SET IDENTITY_INSERT [dbo].[StavkaRacuna] ON 

INSERT [dbo].[StavkaRacuna] ([RacunID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (4, 1, N'Pre500', N'Preworkout - 500g', 3000, 3)
INSERT [dbo].[StavkaRacuna] ([RacunID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (4, 2, N'Pro1000', N'Protein - 1kg', 4500, 1)
INSERT [dbo].[StavkaRacuna] ([RacunID], [StavkaID], [ProizvodID], [NazivStavke], [CenaStavke], [Kolicina]) VALUES (4, 3, N'Pro500', N'Protein - 500g', 2500, 1)
SET IDENTITY_INSERT [dbo].[StavkaRacuna] OFF
GO
ALTER TABLE [dbo].[Klijent]  WITH CHECK ADD  CONSTRAINT [FK_Klijent_Clanarina] FOREIGN KEY([ClanarinaID])
REFERENCES [dbo].[Clanarina] ([ClanarinaID])
GO
ALTER TABLE [dbo].[Klijent] CHECK CONSTRAINT [FK_Klijent_Clanarina]
GO
ALTER TABLE [dbo].[Porudzbenica]  WITH CHECK ADD  CONSTRAINT [FK_Porudzbenica_Dobavljac] FOREIGN KEY([DobavljacID])
REFERENCES [dbo].[Dobavljac] ([DobavljacID])
GO
ALTER TABLE [dbo].[Porudzbenica] CHECK CONSTRAINT [FK_Porudzbenica_Dobavljac]
GO
ALTER TABLE [dbo].[Porudzbenica]  WITH CHECK ADD  CONSTRAINT [FK_Porudzbenica_Radnik] FOREIGN KEY([RadnikID])
REFERENCES [dbo].[Radnik] ([RadnikID])
GO
ALTER TABLE [dbo].[Porudzbenica] CHECK CONSTRAINT [FK_Porudzbenica_Radnik]
GO
ALTER TABLE [dbo].[Racun]  WITH CHECK ADD  CONSTRAINT [FK_Racun_Klijent] FOREIGN KEY([KlijentID])
REFERENCES [dbo].[Klijent] ([KlijentID])
GO
ALTER TABLE [dbo].[Racun] CHECK CONSTRAINT [FK_Racun_Klijent]
GO
ALTER TABLE [dbo].[StavkaPorudzbenice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPorudzbenice_Porudzbenica] FOREIGN KEY([PorudzbenicaID])
REFERENCES [dbo].[Porudzbenica] ([PorudzbenicaID])
GO
ALTER TABLE [dbo].[StavkaPorudzbenice] CHECK CONSTRAINT [FK_StavkaPorudzbenice_Porudzbenica]
GO
ALTER TABLE [dbo].[StavkaPorudzbenice]  WITH CHECK ADD  CONSTRAINT [FK_StavkaPorudzbenice_Proizvod] FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvod] ([ProizvodID])
GO
ALTER TABLE [dbo].[StavkaPorudzbenice] CHECK CONSTRAINT [FK_StavkaPorudzbenice_Proizvod]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacuna_Proizvod] FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvod] ([ProizvodID])
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_StavkaRacuna_Proizvod]
GO
ALTER TABLE [dbo].[StavkaRacuna]  WITH CHECK ADD  CONSTRAINT [FK_StavkaRacuna_Racun] FOREIGN KEY([RacunID])
REFERENCES [dbo].[Racun] ([RacunID])
GO
ALTER TABLE [dbo].[StavkaRacuna] CHECK CONSTRAINT [FK_StavkaRacuna_Racun]
GO
USE [master]
GO
